# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
